/*ADK Download*/
.m-tb-dl { /*download*/
  margin-bottom: $gridSpace * 3;

  th,
  td {
    padding: $contextSpace * 2 $gridSpace * 2;
    text-align: center;
  }
}
/*Login & Register*/
.login-box {
  min-width: 500px;
  padding: $gridSpace * 4 $gridSpace * 6;

  .u-h3 {
    margin-bottom: $gridSpace * 3;
  }
}