@import "compass/utilities/sprites";

.u-ico {
  display: inline-block;
}
.u-ico-play {
  border-width: 12px 0 12px 24px;
  border-style: solid;
  border-color: transparent #fff;
}
.u-ico-pause {
  width: 24px;
  height: 24px;
  border-width: 0 7px;
  border-style: solid;
  border-color: #fff;
}

$u-ico-spacing: 25px;
$u-ico-position: 50%;
$u-ico-sprite-dimensions: ture;
@import "u-ico/*.png";
@include all-u-ico-sprites;

