@import "compass/utilities/sprites";

.u-ico {
  display: inline-block;
  min-width: 24px;
  text-indent: -9999px;
  background-position: center;
  background-size: contain;
}
.u-ico-play {
  border-width: 12px 0 12px 24px;
  border-style: solid;
  border-color: transparent #fff;
}
.u-ico-pause {
  width: 24px;
  height: 24px;
  border-width: 0 7px;
  border-style: solid;
  border-color: #fff;
}

$u-ico-spacing: 25px;
$u-ico-position: 50%;
@import "u-ico/*.png";
@include all-u-ico-sprites;

