/********* Hs *********/
.u-h1 {
  font-size: 54px;
  letter-spacing: 10px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.u-h2 {
  font-size: 38px;
  letter-spacing: 6px;
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}
.u-h3 {
  font-size: 28px;
  letter-spacing: 3px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
.u-h4 {
  font-size: 22px;
  letter-spacing: 2px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.u-h5 {
  font-size: 18px;
  letter-spacing: 1px;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.u-h6 {
  font-size: 15px;
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

/********* Radius *********/
.u-rc-s,
.u-rc-m,
.u-rc-l {
  overflow: hidden;
}
.u-rc-s {
  @include border-radius(5px);
}
.u-rc-m {
  @include border-radius(10px);
}
.u-rc-l {
  @include border-radius(20px);
}

/********* Middle *********/
.u-mid {
  display: table;
  @extend %width-full;
}
.u-mid-ct { /*content*/
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/********* Center *********/
.u-center {
  @extend %display-flex;
  @include justify-content(center);
  @include align-items(center);
}

/********* Around *********/
.u-around {
  @extend %display-flex;
  @include justify-content(space-around);
}
.u-between {
  @extend %display-flex;
  @include justify-content(space-between);
}

/********* Shadow *********/
.u-shadow {
  @include box-shadow(0 2px 3px rgba(0,0,0,.3));
}

/********* Corner *********/
.u-corner {
  border-width: 0 $cornerWidth $cornerWidth;
  border-style: solid;
  border-color: transparent;
}

/********* Sub *********/
.u-super,.u-sub {
  padding: 2px 4px;
}
.u-super {
  vertical-align: text-top;
}
.u-sub {
  vertical-align: text-bottom;
}

/********* Platoon *********/
.u-plat {
  padding: 15px;
  border-bottom: 1px solid #9fa0a0;
}
.u-plat:first-child {
  border-top: 1px solid #9fa0a0;
}