/************************** Compass Reset, Css3 **************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/************************** Unity **************************/
* {
  -webkit-tap-highlight-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 300 13px/1.4 Helvetica, 'Microsoft YaHei', sans-serif;
  background-color: #ebebeb;
  color: #999;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, label {
  font-weight: normal;
}

small {
  font-size: 68%;
}

a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #333;
}

img, video {
  vertical-align: middle;
}

input,
button,
select,
textarea {
  padding: 2px;
  border: 1px solid #9fa0a0;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type=radio],
input[type=checkbox] {
  vertical-align: middle;
}

input[type=radio] {
  -moz-appearance: radio;
  -webkit-appearance: radio;
}

input[type=checkbox] {
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
}

input[type=range] {
  height: 20px;
  padding: 0;
  border: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid #9fa0a0;
  background-color: #fff;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin-top: -6px;
  margin-bottom: -6px;
  /*for edge*/
  border-radius: 0;
  border: none;
  background-color: #4a8cfc;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  height: 10px;
  border: 1px solid #9fa0a0;
  background-color: #fff;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: none;
  background-color: #4a8cfc;
  cursor: pointer;
}

input[type=range]::-ms-track {
  height: 10px;
  border: 1px solid #9fa0a0;
  background-color: #fff;
  color: transparent;
}

input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: none;
  background-color: #4a8cfc;
}

input[type=range]::-ms-fill-lower {
  background-color: transparent;
}

select {
  padding-right: 40px !important;
  background: #fff url("../../images/select.png") no-repeat right center;
  background-size: contain;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

html, body {
  height: 100%;
}

/********* Public *********/
.g-doc, .g-col, .m-tab-opt {
  display: inline-block;
  /*non-flexbox browsers*/
  display: -webkit-flex;
  display: flex;
}

.g-doc, .g-hd-abs {
  min-width: 320px;
}

.g-mn {
  max-width: 1000px;
}

.g-hd-abs, .u-mid, .f-wf {
  width: 100%;
}

/************************** Grid **************************/
.g-doc {
  min-height: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.g-hd .logo {
  max-height: 24px;
}
.g-hd-abs {
  position: absolute;
  z-index: 9999;
}

.g-bd {
  -webkit-flex: 1 0;
  flex: 1 0;
}

.g-mn {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.g-mn .inside {
  margin-left: -15px;
  margin-right: -15px;
}

/*columns*/
.g-col-cell {
  -webkit-flex: 1;
  flex: 1;
}
.g-col-cell.u-full {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
}
.g-col-cell.u-half {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
}
.g-col-cell.u-1of3 {
  -webkit-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
}
.g-col-cell.u-1of4 {
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%;
}
.g-col-cell.u-1of5 {
  -webkit-flex: 0 0 20%;
  flex: 0 0 20%;
}

/************************** Modules **************************/
/********* Nav *********/
.m-nav,
.m-nav a {
  color: #fff;
}

.m-nav {
  font-size: 0;
  text-align: center;
}

.m-nav a:hover {
  color: #ccc;
}

.m-nav li {
  display: inline;
  font-size: 15px;
}

.m-nav li i {
  font-style: normal;
}

.m-nav li a {
  display: inline-block;
  margin: 0 10px -2px;
  padding: 12px 15px;
  border-bottom: 2px solid transparent;
}

.m-nav li.sel a {
  border-color: #4489ff;
}

.g-ft .m-nav a {
  margin-bottom: 0;
  border-bottom: none;
}

/********* Crumb *********/
.m-crm {
  margin-bottom: 15px;
  background-color: #e6e6e6;
  border-bottom: 1px solid #a8a9a9;
}

.m-crm-ct {
  position: relative;
  padding-top: 40px;
  padding-bottom: 15px;
}

/********* Banner, Section *********/
.m-sec-img {
  position: relative;
  padding-top: 34%;
}

.m-sec-img .m-sec-ct {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.m-sec-img .u-mid {
  height: 100%;
}

.m-sec-txt .m-sec-ct {
  padding: 6% 0;
}

.m-sec-tt {
  /*title*/
  font-size: 28px;
}

.m-sec-tt span {
  padding-left: 6px;
  font-size: 48px;
  letter-spacing: 6px;
}

.m-sec-btt {
  /*big title*/
  font-size: 38px;
}

.m-sec-btt span {
  font-size: 58px;
}

.m-sec-stt {
  /*sub title*/
  letter-spacing: 12px;
}

.m-sec-tt:not(:last-child),
.m-sec-btt:not(:last-child),
.m-sec-stt:not(:last-child) {
  margin-bottom: 10px;
}

.m-sec-tag {
  display: inline-block;
  margin-bottom: 20px;
  padding: 3px 3px 3px 8px;
  border: 1px solid;
  letter-spacing: 5px;
}

.m-sec-lst {
  font-size: 0;
}

.m-sec-lst li {
  display: inline-block;
}

/********* Carousel, Slide *********/
.m-sld {
  position: relative;
  padding-top: 50%;
}

.m-sld-inn,
.m-sld-inn > .item {
  position: absolute;
  top: 0;
  width: 100%;
}

.m-sld-inn,
.m-sld-inn > .item,
.m-sld-inn > .item .s-bg-cov {
  height: 100%;
  overflow: hidden;
}

.m-sld-inn > .item {
  left: 100%;
}

.m-sld-inn > .item .s-bg-cov {
  width: 100%;
}

.m-sld-inn > .item[data-link] {
  cursor: pointer;
}

.m-sld-inn > .item img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.m-sld-inn .crt {
  left: 0;
  z-index: 3;
}

.m-sld-inn .next {
  z-index: 6;
}

.m-sld-ind {
  /*indicators*/
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  height: 12px;
  font-size: 0;
  line-height: 18px;
  text-align: center;
}

.m-sld-ind li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background-color: #fff;
  opacity: .4;
}

.m-sld-ind li.crt {
  opacity: .8;
}

@media (min-width: 640px) {
  .m-sld-ind {
    height: 20px;
    line-height: 28px;
  }

  .m-sld-ind li {
    width: 8px;
    height: 8px;
  }

  .m-sld-ctr {
    /*control*/
    position: absolute;
    top: 50%;
    z-index: 9;
    width: 50px;
    height: 80px;
    margin-top: -40px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.3) no-repeat center;
    background-size: auto 60%;
    transition: background-color .3s linear;
  }

  .m-sld-ctr:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .m-sld-ctr.left {
    left: 4%;
    background-image: url("../../images/square-left.png");
  }

  .m-sld-ctr.right {
    right: 4%;
    background-image: url("../../images/square-right.png");
  }
}
/********* Tab *********/
.m-tab-opt {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.m-tab-opt li {
  -webkit-flex: 1 0;
  flex: 1 0;
  border-right: 1px solid transparent;
}
.m-tab-opt li:last-child {
  border-right: none;
}

.m-tab-opt a {
  display: block;
  padding: 10px 12px;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  text-align: center;
  color: #333;
}

.m-tab-opt a:hover,
.m-tab-opt li.sel a {
  border-bottom-color: #0099cc;
  color: #0099cc;
}

.m-tab-cnt > .item {
  /*container*/
  display: none;
}

.m-tab-cnt > .item.sel {
  display: block;
}

/********* Panel *********/
.m-pnl-hd {
  border-bottom: 1px solid #9fa0a0;
}

.m-pnl-hd:last-child {
  border-bottom: none;
}

.m-pnl-bd,
.m-pnl-ft,
.m-pnl-tt {
  padding: 10px;
}

.m-pnl-ft {
  border-top: 1px solid #9fa0a0;
}

.m-pnl-ft:first-child {
  border-top: none;
}

.m-pnl-tt {
  margin: 0;
  font-size: 18px;
}

.m-pnl-tt .u-ico {
  width: 24px;
  height: 22px;
  margin-right: 6px;
  vertical-align: bottom;
}

.m-pnl-sub {
  padding: 6px;
  font-size: 15px;
}

/********* Dialog *********/
.m-dlg,
.m-dlg-box {
  top: 0;
  width: 100%;
  height: 100%;
}

.m-dlg {
  display: none;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
}

.m-dlg.show {
  display: block;
}

.m-dlg-box {
  display: table;
  position: absolute;
  -webkit-transform: translateX(140%);
  transform: translateX(140%);
}

.m-dlg-box.crt {
  -webkit-transition: transform .3s linear;
  transition: transform .3s linear;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.m-dlg-box.left {
  -webkit-transform: translateX(-140%);
  transform: translateX(-140%);
}

.m-dlg-mn {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.m-dlg-mnc {
  display: inline-block;
  width: 90%;
  min-width: 288px;
  max-width: 380px;
  overflow: hidden;
}

.m-dlg-mnc-w {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.m-dlg-mnc .m-pnl-tt {
  background-color: #f0f0f0;
}

.m-dlg-mnc .m-pnl-tt .u-ico {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.m-dlg-mnc .m-pnl-sub {
  font-size: 12px;
}

.m-dlg-mnc .m-pnl-bd.m-lst + .m-pnl-ft {
  margin-top: -10px;
  border-top: none;
}

.m-dlg-logo {
  margin-bottom: 15px;
}

.m-dlg-logo img {
  max-width: 38%;
}

.m-dlg-mnc:not(.m-dlg-mnc-w) .u-lab,
.m-dlg-mnc:not(.m-dlg-mnc-w) .u-tips:not(.u-tips-err),
.m-dlg-mnc:not(.m-dlg-mnc-w) .u-tips a {
  color: #fefefe;
}

.m-dlg-mnc:not(.m-dlg-mnc-w) .u-lab p {
  border-color: #fefefe;
}

.m-dlg-mnc:not(.m-dlg-mnc-w) .u-fm-grp {
  border: none;
}

/********* Table *********/
.m-tb {
  text-align: center;
  border-right: 1px solid #cccaca;
  border-bottom: 1px solid #cccaca;
}

.m-tb th,
.m-tb td {
  padding: 10px;
  border-top: 1px solid #cccaca;
  border-left: 1px solid #cccaca;
}

.m-tb .r-img {
  /*row*/
  position: relative;
  background: no-repeat center;
  background-size: cover;
}

.m-tb [class|=rw] {
  /*row width*/
  table-layout: fixed;
}

.m-tb .rw-xs {
  width: 5%;
}

.m-tb .rw-s {
  width: 10%;
}

.m-tb .rw-m {
  width: 15%;
}

.m-tb .rw-l {
  width: 20%;
}

.m-tb .rw-xl {
  width: 25%;
}

.m-tb [class|=ro] {
  /*row operate*/
  display: inline-block;
  cursor: pointer;
}

.m-tb .ro-uld-edit {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px 5px 5px 20px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjEuMCIgeDI9IjAuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -moz-linear-gradient(135deg, #ffffff, #ffffff 50%, rgba(0, 0, 0, 0) 50%);
  background: -webkit-linear-gradient(135deg, #ffffff, #ffffff 50%, rgba(0, 0, 0, 0) 50%);
  background: linear-gradient(-45deg, #ffffff, #ffffff 50%, rgba(0, 0, 0, 0) 50%);
}

/********* Accordion *********/
.m-acc-tt,
.m-acc-ct {
  border-top: 1px solid #9fa0a0;
}

.m-acc-tt {
  padding: 10px 30px;
  cursor: pointer;
}

.m-acc-tt.sel,
.m-acc-tt:hover {
  background-color: #efefef;
}

.m-acc-tt i {
  float: right;
  width: 14px;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: #c8c8c8;
}

.m-acc-tt i:after {
  content: '+';
}

.m-acc-tt.sel i:after {
  content: '-';
}

.m-acc-ct {
  display: none;
  padding: 10px 20px;
}

.m-acc-ct p {
  margin: 10px 0;
}

.m-acc-tt.sel + .m-acc-ct {
  display: block;
}

/********* List *********/
.m-lst:after {
  display: table;
  content: " ";
  clear: both;
}

.m-lst .item {
  float: left;
  width: 23%;
  margin: 1%;
  border: 1px solid #9fa0a0;
}

.m-lst .ct {
  /*content*/
  padding: 10px;
}

.m-lst-img {
  padding-top: 50%;
}

.m-lst-tt {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

.m-lst-tt small {
  vertical-align: bottom;
}

.m-lst-intro {
  height: 72px;
  overflow: hidden;
}

.m-lst-more {
  margin-top: 10px;
  font-size: 15px;
}

.m-lst-fm li {
  position: relative;
  min-height: 20px;
  padding-left: 74px;
  margin: 4px 0;
  font-size: 14px;
}

.m-lst-fm li.oh {
  /*overflow hidden*/
  height: 58px;
  overflow: hidden;
}

.m-lst-fm .lab {
  position: absolute;
  left: 0;
}

/************************** Units **************************/
/********* Radius *********/
.u-rc-s,
.u-rc-m,
.u-rc-l {
  overflow: hidden;
}

.u-rc-s {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.u-rc-m {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.u-rc-l {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/********* Middle *********/
.u-mid {
  display: table;
}

.u-mid-ct {
  /*content*/
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/********* Button *********/
.u-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.u-btn:hover {
  text-decoration: none;
}

.u-btn-s {
  padding: 4px 12px;
  font-size: 13px;
}

.u-btn-m {
  padding: 6px 16px;
  font-size: 15px;
}

.u-btn-l {
  padding: 8px 20px;
  font-size: 18px;
  letter-spacing: 1px;
}

.u-btn-welt {
  position: absolute;
  right: 0;
  bottom: 20px;
  z-index: 999;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.u-btn-ol {
  /*outline*/
  border: 1px solid;
  background-color: transparent;
}

/********* Icon *********/
.u-ico {
  display: inline-block;
  min-width: 24px;
  text-indent: -9999px;
  background-position: center;
  background-size: contain;
}

.u-ico-play {
  border-width: 12px 0 12px 24px;
  border-style: solid;
  border-color: transparent #fff;
}

.u-ico-pause {
  width: 24px;
  height: 24px;
  border-width: 0 7px;
  border-style: solid;
  border-color: #fff;
}

.u-ico-sprite, .u-ico-alipay, .u-ico-crown, .u-ico-game, .u-ico-gear, .u-ico-gift, .u-ico-head, .u-ico-iphone, .u-ico-key, .u-ico-logo, .u-ico-mail, .u-ico-phone, .u-ico-search, .u-ico-signin, .u-ico-task, .u-ico-wechart {
  background-image: url('../../images/u-ico-sfdca0e807c.png');
  background-repeat: no-repeat;
}

.u-ico-alipay {
  background-position: -2px 0;
}

.u-ico-crown {
  background-position: -9px -75px;
}

.u-ico-game {
  background-position: -9px -132px;
}
.u-ico-game:hover, .u-ico-game.game-hover {
  background-position: -9px -196px;
}

.u-ico-gear {
  background-position: -13px -260px;
}

.u-ico-gift {
  background-position: -13px -317px;
}
.u-ico-gift:hover, .u-ico-gift.gift-hover {
  background-position: -13px -383px;
}

.u-ico-head {
  background-position: -5px -449px;
}

.u-ico-iphone {
  background-position: -19px -524px;
}

.u-ico-key {
  background-position: -5px -582px;
}

.u-ico-logo {
  background-position: -13px -657px;
}

.u-ico-mail {
  background-position: -5px -719px;
}

.u-ico-phone {
  background-position: -5px -794px;
}

.u-ico-search {
  background-position: 0 -869px;
}
.u-ico-search:hover, .u-ico-search.search-hover {
  background-position: 0 -954px;
}

.u-ico-signin {
  background-position: -8px -1039px;
}
.u-ico-signin:hover, .u-ico-signin.signin-hover {
  background-position: -8px -1108px;
}

.u-ico-task {
  background-position: -13px -1177px;
}
.u-ico-task:hover, .u-ico-task.task-hover {
  background-position: -13px -1241px;
}

.u-ico-wechart {
  background-position: 0 -1305px;
}

/********* Form Group *********/
.u-fm-el,
.u-fm-grp {
  margin-bottom: 15px;
  border: 1px solid #9fa0a0;
  color: #1e1e1e;
}

.u-fm-el:not([class*=u-rc]),
.u-fm-grp:not([class*=u-rc]) {
  border-radius: 2px;
}

.u-fm-el,
.u-fm-grp-el,
.u-fm-grp-add {
  padding: 8px;
}

.u-fm-el {
  display: block;
}

.u-fm-grp {
  display: table;
  overflow: hidden;
  background-color: #fff;
}

.u-fm-gap {
  width: 15px;
}

.u-fm-grp-el,
.u-fm-grp-add,
.u-fm-grp-ico {
  display: table-cell;
}

.u-fm-grp-el {
  width: 100%;
  border: none;
  background: none;
}

.u-fm-grp-add,
.u-fm-grp-ico {
  width: 1%;
  white-space: nowrap;
}

.u-fm-grp-add .u-btn {
  padding: 10px 8px;
  margin: -10px -8px;
  vertical-align: initial;
}

.u-fm-grp-ico .u-ico {
  width: 50px;
  padding: 4px 0;
}

.u-fm-grp-add:first-child,
.u-fm-grp-ico:first-child .u-ico {
  border-right: 1px solid #9fa0a0;
}

.u-fm-grp-add:last-child,
.u-fm-grp-ico:last-child .u-ico {
  border-left: 1px solid #9fa0a0;
}

/********* Lab *********/
.u-lab {
  display: table;
  margin: 25px 0 15px;
}

.u-lab p {
  display: table-cell;
  width: 50%;
  border-top: 1px solid #969696;
}

.u-lab span {
  display: block;
  margin: -10px 16px 0;
  font-size: 16px;
}

/********* Tips *********/
.u-tips {
  margin: 15px 0;
  font-size: 14px;
}

.u-tips strong {
  font-size: 15px;
}

.u-tips a:not(.u-btn) {
  text-decoration: underline;
}

.u-tips a:hover {
  text-decoration: none;
}

.u-tips-err {
  display: none;
  color: #c83200;
}

.u-tips-err.show {
  display: block;
}

/********* Sub *********/
.u-super, .u-sub {
  padding: 2px 4px;
}

.u-super {
  vertical-align: text-top;
}

.u-sub {
  vertical-align: text-bottom;
}

/********* Platoon *********/
.u-plat {
  padding: 15px;
  border-bottom: 1px solid #9fa0a0;
}

.u-plat:first-child {
  border-top: 1px solid #9fa0a0;
}

/********* Pages *********/
.u-pages {
  margin: 15px 0;
  font-size: 0;
  text-align: center;
}

.u-pages li {
  display: inline-block;
  margin: 0 8px;
  font-size: 16px;
}

.u-pages li.sel a {
  color: #007dff;
}

/************************** Function **************************/
.f-fl {
  float: left;
}

.f-fr {
  float: right;
}

.f-wh {
  width: 50%;
}

.f-db {
  display: block;
}

.f-ib {
  display: inline-block;
}

.f-dn {
  display: none;
}

.f-tal {
  text-align: left;
}

.f-tac {
  text-align: center;
}

.f-tar {
  text-align: right;
}

.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.f-wsn {
  white-space: nowrap;
  word-wrap: normal;
  word-break: keep-all;
}

.f-toe {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.f-m0 {
  margin: 0 !important;
}

.f-p0 {
  padding: 0 !important;
}

.f-b0 {
  border: none !important;
}

.f-sr-only {
  /*screen reader only*/
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.f-cf:after {
  /*clear fix*/
  display: block;
  visibility: hidden;
  content: '';
  clear: both;
  height: 0;
}

/************************** Skin **************************/
/********* Color *********/
/*font color*/
.s-fc-w {
  color: #fff;
}

.s-fc-b {
  /*black*/
  color: #333;
}

.s-fc-gray {
  color: #999;
}

.s-fc-r {
  color: #c83200;
}

.s-fc-o {
  color: #ff7d00;
}

.s-fc-g {
  color: #35b74b;
}

.s-fc-y {
  color: #d28d09;
}

.s-fc-lb {
  /*light blue*/
  color: #0099cc;
}

.s-fc-db {
  /*dark blue*/
  color: #1b1e6b;
}

a.s-fc-w:hover,
.u-btn.s-fc-w:hover {
  color: #ccc;
}

a.s-fc-b:hover,
.u-btn.s-fc-b:hover {
  color: #999;
}

a.s-fc-r:hover,
.u-btn.s-fc-r:hover {
  color: #d4471b;
}

a.s-fc-o:hover,
.u-btn.s-fc-o:hover {
  color: #f78e10;
}

a.s-fc-g:hover,
.u-btn.s-fc-g:hover {
  color: #25e245;
}

a.s-fc-y:hover,
.u-btn.s-fc-y:hover {
  color: #e89d0f;
}

a.s-fc-lb:hover,
.u-btn.s-fc-lb:hover,
a.s-fc-db:hover,
.u-btn.s-fc-db:hover {
  color: #3b42e3;
}

/*background color*/
.s-bgc-w {
  background-color: #fff;
}

.s-bgc-b {
  background-color: #333;
}

.s-bgc-lg {
  /*light gray*/
  background-color: #ccc;
}

.s-bgc-r {
  background-color: #c83200;
}

.s-bgc-o {
  background-color: #ff7d00;
}

.s-bgc-g {
  background-color: #35b74b;
}

.s-bgc-y {
  background-color: #d28d09;
}

.s-bgc-lb {
  background-color: #0099cc;
}

.s-bgc-db {
  background-color: #1b1e6b;
}

a.s-bgc-b,
.u-btn.s-bgc-b,
a.s-bgc-r,
.u-btn.s-bgc-r,
a.s-bgc-o,
.u-btn.s-bgc-o,
a.s-bgc-g,
.u-btn.s-bgc-g,
a.s-bgc-y,
.u-btn.s-bgc-y,
a.s-bgc-lb,
.u-btn.s-bgc-lb,
a.s-bgc-db,
.u-btn.s-bgc-db {
  color: #fff;
}

a.s-bgc-b:hover,
.u-btn.s-bgc-b:hover {
  background-color: #666;
}

a.s-bgc-r:hover,
.u-btn.s-bgc-r:hover {
  background-color: #d4471b;
}

a.s-bgc-o:hover,
.u-btn.s-bgc-o:hover {
  background-color: #f78e10;
}

a.s-bgc-g:hover,
.u-btn.s-bgc-g:hover {
  background-color: #25e245;
}

a.s-bgc-y:hover,
.u-btn.s-bgc-y:hover {
  background-color: #e89d0f;
}

a.s-bgc-lb:hover,
.u-btn.s-bgc-lb:hover,
a.s-bgc-db:hover,
.u-btn.s-bgc-db:hover {
  background-color: #3b42e3;
}

.u-btn-ol.s-bgc-b,
.u-btn-ol.s-bgc-r,
.u-btn-ol.s-bgc-o,
.u-btn-ol.s-bgc-g,
.u-btn-ol.s-bgc-y,
.u-btn-ol.s-bgc-lb,
.u-btn-ol.s-bgc-db {
  background-color: transparent;
}

.u-btn-ol.s-bgc-b {
  color: #333;
}

.u-btn-ol.s-bgc-r {
  color: #c83200;
}

.u-btn-ol.s-bgc-o {
  color: #ff7d00;
}

.u-btn-ol.s-bgc-g {
  color: #35b74b;
}

.u-btn-ol.s-bgc-y {
  color: #d28d09;
}

.u-btn-ol.s-bgc-lb {
  color: #0099cc;
}

.u-btn-ol.s-bgc-db {
  color: #1b1e6b;
}

.u-btn-ol.s-bgc-b:hover,
.u-btn-ol.s-bgc-r:hover,
.u-btn-ol.s-bgc-o:hover,
.u-btn-ol.s-bgc-g:hover,
.u-btn-ol.s-bgc-y:hover,
.u-btn-ol.s-bgc-lb:hover,
.u-btn-ol.s-bgc-db:hover {
  color: #fff;
}

/********* Background Size *********/
.s-bg-cov, .s-bg-con {
  background: no-repeat center;
}

.s-bg-cov {
  background-size: cover;
}

.s-bg-con {
  background-size: contain;
}

/************************** custom **************************/
@media (max-width: 359px) {
  .select-card a {
    -webkit-flex: 1 0 40%;
    flex: 1 0 40%;
  }

  .select-card a:nth-child(2n),
  .select-card a:last-child:not(:nth-child(2n)) {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
