.m-fd { /*field*/
  margin-bottom: $gridSpace;

  &:last-child {
    margin-bottom: 0;
  }
  & li {
    position: relative;
    padding-top: $contextSpace / 2;
    padding-bottom: $contextSpace / 2;
    padding-left: 18%;
    min-height: $baseFontSize * $baseLineHeight + $contextSpace;

    label {
      position: absolute;
      left: 0;
      width: 16%;
      text-align: right;
    }
  }
  &-tt {
    margin-bottom: $contextSpace;
    padding-left: 0!important;
    font-size: 18px;

    &.ws { /*WideScreen*/
      padding-left: 8%!important;
    }
  }
}
